$pink: #f50057;
$grey: #cfd8dc;


div.general-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    span {
        position: absolute;
        font-size: 32px;
        color: $grey;
    }
    
    .js-favorite {
        color: $pink;
    }
}