$pink: #f50057;
$soft-grey: #fafafa;
$white: #FFFFFF;

$text-grey-dark: #37474f;


div.general-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.recipe-card {
    background-color:$soft-grey;
}

.recipe-card__name {
    font-family: Lato;
    font-size: 1.2rem;
    padding: 0.875rem;
    margin: 0;
    color: $text-grey-dark;
}

.recipe-card__actions {
    background-color: #bdbdbd;
    padding: 0.875rem;
    display: flex;
    justify-content: space-around;
    
    span, a {
        font-size: 24px;
        color: $white;
        padding: 0 10px;
    }
    
    a {
        text-decoration: none;
    }
}

.js-favorite {
    color: $pink;
}
